.navbar {
  background-color: #1f2937;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  border-bottom-left-radius: 1.5rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo .logo-image {
  height: 3rem;
  width: auto;
}

.menu {
  display: none;
}

.menu-item {
  color: #9ca3af;
  font-weight: 600;
  margin-left: 2rem;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  font-size: medium;
}

.menu-item.active,
.mobile-menu-item.active,
.login-btn.active {
  color: #007bff; /* Highlighted color */
  font-weight: bold; /* Optional: Make it bold */
  border-bottom: 2px solid #007bff; /* Optional: Add a border */
}

.menu-item:hover {
  color: white;
}

.login-btn-container {
  display: none;
}

.login-btn {
  background: #fff;
  color: #000;
  font-weight: 600;
  padding: 0.7rem 2rem;
  border-radius: 9999px;
  font-size: 1.125rem;
  transition: background 0.2s ease-in-out;
}

.login-btn:hover {
  background: 	#009bd6;
  color: #fff;
}

.mobile-menu-toggle {
  display: block;
}

.toggle-btn {
  color: white;
  background: none;
  border: none;
}

.toggle-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 5rem;
  right: -100%; /* Start off the screen */
  width: 250px;
  height: 100%;
  background-color: #1f2937;
  color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease; /* Smooth transition */
  z-index: 999; /* Make sure it's on top */
  padding-top: 0; /* Space for the logo */
}

.mobile-menu-list li button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 20px;
  text-align: center;
  width: 100%;
  transition: background 0.2s;
  cursor: pointer;
}

.mobile-menu-list li button:hover {
  background-color: #111827;
}

.mobile-menu-open {
  right: 0; /* Slide in from the right */
}



.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mobile-menu-item {
  display: block;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s;
}

.mobile-menu-item:hover {
  background-color: #111827;
}

.mobile-login-btn {
  display: block;
  background-color: #2563EB;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  transition: background 0.2s;
}

.mobile-login-btn:hover {
  background-color: #1E40AF;
}


/* Responsive styles */
@media (min-width: 768px) {
  .menu {
    display: flex;
  }

  .login-btn-container {
    display: block;
  }

  .mobile-menu-toggle {
    display: none;
  }
}
