.faq-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    margin-top: 2.5rem;
  }
  
  .faq-box {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 75%;
    max-width: 80rem;
    display: flex;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
  }
  
  .faq-left {
    width: 30%;
    background-color: #f9fafb;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .faq-title {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 1rem;
  }
  
  .faq-description {
    color: #6b7280;
    margin-bottom: 1.5rem;
  }
  
  .faq-image {
    width: 100%;
    object-fit: cover;
  }
  
  .faq-right {
    width: 70%;
    padding: 2.5rem;
  }
  
  .faq-questions h3 {
    font-size: 1rem;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  
  .faq-questions p {
    font-size: 1rem;
    font-weight: 400;
    color: #1f2937;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  @media (max-width: 768px) {
    .faq-left {
      display: none; 
    }
  
    .faq-right {
      width: 100%; 
    }
  
    .faq-title {
      display: block; 
    }
  
    .faq-box {
      width: 75%; 
    }
  }
  